<div class="row ">
    <div class="tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <div class="stats-count-inner">
                <span class="count_top"><i class="fa fa-group"></i> Total Student</span>
                <div class="count">43</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <div class="stats-count-inner">
                <span class="count_top"><i class="fa fa-paw"></i> Total Guardian</span>
                <div class="count">15</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <div class="stats-count-inner">
                <span class="count_top"><i class="fa fa-users"></i> Total Teacher</span>
                <div class="count">8</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <div class="stats-count-inner">
                <span class="count_top"><i class="fa fa-user-md"></i> Total Employee</span>
                <div class="count">8</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <div class="stats-count-inner">
                <span class="count_top">
                    Rs
                    Total Income                </span>
                <div class="count green">12682.00</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <div class="stats-count-inner">
            <span class="count_top">
                Rs
                Total Expenditure            </span>
                <div class="count red">381110.00</div>
            </div>
        </div>

    </div>
</div>