{% extends "app/base_site.html" %}

{% block title %} Expenditure {% endblock title %}

{% load static i18n %}

{% block javascript %}
    <script src="{% static 'schools/js/expenditures.js' %}"></script>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"/>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-calculator"></i><small> Manage Expenditure</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                   <div class="x_content quick-link">
                        <span>Quick Link:</span>
                        <a href="#">Discount</a>
                        | <a href="#">Fee Type</a>
                        | <a href="#">Fee Collection</a>
                        | <a href="#">Manage Invoice</a>
                        | <a href="#">Due Invoice</a>
                        | <a href="#">Due Fee Email</a>
                        | <a href="#">Due Fee SMS</a>
                        | <a href="#">Income Head</a>
                        | <a href="#">Income</a>
                        | <a href="#">Expenditure Head</a>
                        | <a href="#">Expenditure</a>
                    </div>

                    <div class="x_content">
                        <div class="" data-example-id="togglable-tabs">

                            <ul class="nav nav-tabs bordered">
                                <li role="presentation"><a href="{% url 'expenditure_list' %}"><i
                                        class="fa fa-list-ol"></i> Expenditure List</a>
                                </li>
                                <li role="presentation" class="active"><a href="{% url 'expenditure_create' %}"><i
                                        class="fa fa-plus-square-o"></i> Add Expenditure</a>
                                </li>
                            </ul>
                            <br/>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab_expenditure_list">
                                    <div class="x_content">

                                       <form class="form-horizontal form-label-left"
                                             id="ExpenditureForm"
                                             data-expenditure_heads-url="{% url 'ajax_load_expenditure_heads' %}"
                                              role="form"
                                              action=""
                                              method="post"
                                              enctype="multipart/form-data"
                                              accept-charset="utf-8">{% csrf_token %}

                                              <div class="col-lg-12">
                                                  <div class=" col-md-3 mb-0">
                                                      {{ form.school|as_crispy_field }}
                                                  </div>
                                                  <div class="col-md-3 mb-0">
                                                      {{ form.expenditure_head|as_crispy_field }}
                                                  </div>
                                                  <div class="col-md-3 mb-0">
                                                      {{ form.payment_method|as_crispy_field }}
                                                  </div>
                                                  <div class="bank_name col-md-3 mb-0">
                                                      {{ form.Bank_Name|as_crispy_field }}
                                                  </div>
                                                  <div class="cheque_number col-md-3 mb-0">
                                                      {{ form.Cheque_Number|as_crispy_field }}
                                                  </div>

                                              </div>
                                              <br><br>
                                              <div class="row">
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.date|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-3 mb-0">
                                                    {{ form.amount|as_crispy_field }}
                                                </div>
                                                  <div class="form-group col-md-3 mb-0">
                                                      {{ form.note|as_crispy_field }}
                                                  </div>
                                              </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" class="btn btn-success">Submit</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                                <!-- THE MODAL WE WILL BE USING -->
                                <div class="modal fade" id="modal-expenditure">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            $(document).ready(function () {
                $('#expenditure-table').DataTable({
                    dom: 'Bfrtip',
                    iDisplayLength: 15,
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                        'print',
                        'pageLength'
                    ],
                    search: true,
                    responsive: true
                });
            });

            //load incomes depending on school select
                    $("#id_school").change(function () {
                       var url = $("#ExpenditureForm").attr("data-expenditure_heads-url");
                       var schoolId = $(this).val();
                       $.ajax({
                           url: url,
                           data: {
                               'school': schoolId
                           },
                           success: function (data) {
                               $("#id_expenditure_head").html(data);
                           }
                       });
                   });


                    //choosing the payment method
                    $("#id_payment_method").change(function() {
                      if ($(this).val() === "Cheque") {
                        $('.bank_name').show();
                        $('.cheque_number').show();}
                     else if ($(this).val() === "Cash")
                          {
                          $('.bank_name').hide();
                          $('.cheque_number').hide();
                          }
                    else{
                      $('.bank_name').hide();
                      $('.cheque_number').hide();
                    }
                   });
                  $("#id_payment_method").trigger("change");
                  //display placeholder
                  $(document).ready(function(){
                  $("#id_Cheque_Number").attr('placeholder', '{{form.Cheque_Number.label}}');
                  $("#id_Bank_Name").attr('placeholder', '{{form.Bank_Name.label}}');
                  $("#id_amount").attr('placeholder', '{{form.amount.label}}');
                  $("#id_date").attr('placeholder', '{{form.date.label}}');
                  $("#id_note").attr('placeholder', '{{form.note.label}}');
              });

        </script>
    </div>

{% endblock content %}

{% block javascripts %}

    {{ block.super }}




{% endblock javascripts %}
