{% extends "app/base_site.html" %}

{% block title %} Fee Type {% endblock title %}

{% load static i18n %}

{% block stylesheets %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-calculator"></i><small> Manage Fee Type</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content quick-link">
                <span>Quick Link:</span>
                <a href="#">Discount</a>
                | <a href="#">Fee Type</a>
                | <a href="#">Fee Collection</a>
                | <a href="#">Manage Invoice</a>
                | <a href="#">Due Invoice</a>
                | <a href="#">Due Fee Email</a>
                | <a href="#">Due Fee SMS</a>
                | <a href="#">Income Head</a>
                | <a href="#">Income</a>
                | <a href="#">Expenditure Head</a>
                | <a href="#">Expenditure</a>
            </div>


            <div class="x_content">
                <div class="" data-example-id="togglable-tabs">

                    <ul class="nav nav-tabs bordered">
                         <li role="presentation"><a href="{% url 'fee_type_list' %}"><i
                                class="fa fa-list-ol"></i> Fee Type List</a>
                        </li>
                        <li role="presentation" class="active"><a href="{% url 'fee_type_create' %}"><i
                                class="fa fa-plus-square-o"></i> Add
                            Fee Type</a>
                        </li>
                    </ul>
                    <br/>

              <div class="tab-content">
                  <div class="tab-pane fade in active" id="tab_fee_type_list">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6" >
                         {% load crispy_forms_tags %}
                          <form class="form-horizontal form-label-left"role="form" action="" method="post"  enctype="multipart/form-data" accept-charset="utf-8">
                                {% csrf_token %}{{ form.school |as_crispy_field}}{{form.fee_title|as_crispy_field}}
                                 <label onchange="show_class_amount(this.value=false)" >{{form.fee_type|as_crispy_field}}</label>
                                 <div id="p" class="bg-warning">
                                   Instruction:<br>
                                           1.  Hostel Fee Amount Will be define in Hostel Room creation time.
                                             From here must be create Hostel Fee Title to create Hostel Fee Invoice.<br>
                                           2.  Transport Fee Amount Will be define in Transport Route creation time.<br>
                                           3.  From here must be create Transport Fee Title to create Transport Fee Invoice.<br>
                                 </div>
                              {{form.class1|as_crispy_field}}                                            {{form.class2 |as_crispy_field}}
                                   {{ form.class3 |as_crispy_field }}
                                  {{form.note |as_crispy_field }}

                                  <div class="form-group">
                                  <div class="col-sm-offset-2 col-sm-10">
                                      <button type="submit" class="btn btn-success">Submit</button>
                                  </div>

                             </div></form></div></div></div></div></div>
         {% block javascript %}
            <script type="text/javascript">
            function show_class_amount(id_fee_type, is_edit){
              if (id_fee_type == "GeneralFee" && is_edit == true) {
                  $('#id_class1').show();
                  $('#id_class2').show();
                  $('#id_class3').show();
                  $('#p').hide(); }
              if (id_fee_type == "GeneralFee" && is_edit == false) {
                  $('#id_class1').show();
                  $('#id_class2').show();
                  $('#id_class3').show();
                  $('#p').hide(); }

              if (id_fee_type != "GeneralFee" && id_fee_type != '') {
                  $('#id_class1').hide();
                  $('#id_class2').hide();
                  $('#id_class3').hide();
                  $('#p').show(); }
            else if ($(this).val() === "Hostel")
            {
            $('#p').show();
            $('#id_class1').hide();
            $('#id_class2').hide();
            $('#id_class3').hide();}

            else if ($(this).val() === "Transport")
            {
            $('#p').show();
            $('#id_class1').hide();
            $('#id_class2').hide();
            $('#id_class3').hide();}

            else
            {
            $('#p').hide();
            $('#id_class1').hide();
            $('#id_class2').hide();
            $('#id_class3').hide();}
            });
            $("#id_fee_type").trigger("change");
            </script>
          {% endblock %}
        </div>
    </div>
</div>
</div>

{% endblock content %}
