{% extends "app/base_site.html" %}

{% block title %} Fee Type {% endblock title %}

{% load static i18n %}

{% block stylesheets %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-calculator"></i><small> Manage Fee Type</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content quick-link">
                <span>Quick Link:</span>
                <a href="#">Discount</a>
                | <a href="#">Fee Type</a>
                | <a href="#">Fee Collection</a>
                | <a href="#">Manage Invoice</a>
                | <a href="#">Due Invoice</a>
                | <a href="#">Due Fee Email</a>
                | <a href="#">Due Fee SMS</a>
                | <a href="#">Income Head</a>
                | <a href="#">Income</a>
                | <a href="#">Expenditure Head</a>
                | <a href="#">Expenditure</a>
            </div>


            <div class="x_content">
                <div class="" data-example-id="togglable-tabs">

                    <ul class="nav nav-tabs bordered">
                         <li role="presentation"><a href="{% url 'fee_type_list' %}"><i
                                class="fa fa-list-ol"></i> Fee Type List</a>
                        </li>
                        <li role="presentation" class="active"><a href="{% url 'fee_type_create' %}"><i
                                class="fa fa-plus-square-o"></i> Add
                            Fee Type</a>
                        </li>
                    </ul>
                    <br/>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab_fee_type_list">
                            <div class="x_content">
                               {% load crispy_forms_tags %}
                                <form class="form-horizontal form-label-left"role="form" action="" method="post"  enctype="multipart/form-data" accept-charset="utf-8">
                                      {% csrf_token %}{{ form.school |as_crispy_field}}{{form.fee_title|as_crispy_field}}
                                       <label>{{form.fee_type|as_crispy_field}}</label>
                                        <div class="form-group" id="otherFieldDiv">
                                          {{form.class1|as_crispy_field}}                                         {{form.class2 |as_crispy_field}}
                                         {{ form.class3 |as_crispy_field }}
                                        </div>{{form.note |as_crispy_field }}<div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>

                                   </div></form></div></div></div></div></div>
         {% block javascript %}
            <script type="text/javascript">
            $("#id_fee_type").change(function() {
              if ($(this).val() === "GeneralFee") {
                  $('#id_class1').show();
                  $('#id_class2').show();
                  $('#id_class3').show();}
            else
            {$('#id_class1').hide();
            $('#id_class2').hide();
            $('#id_class3').hide();}

            });
            $("#seeAnotherField").trigger("change");
            </script>
          {% endblock %}
        </div>
    </div>
</div>
</div>

{% endblock content %}
