{% extends "app/base_site.html" %}

{% block title %} Users {% endblock title %}

{% load static i18n %}

{% load widget_tweaks %}

{% block javascript %}
    <script src="{% static 'schools/js/users.js' %}"></script>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

{% endblock stylesheets %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-check-square-o"></i><small> Student Attendance</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content quick-link">
                        <span>Quick Link:</span>
                        <a href="#">Student Attendance</a>
                        | <a href="#">Teacher Attendance</a>
                        | <a href="#">Employee Attendance</a>
                        | <a href="#">Absent Email</a>
                        | <a href="#">Absent SMS</a>
                    </div>

                    <div class="x_content">
                            <ul class="nav nav-tabs bordered">
                                <li role="presentation"><a href="#"><i
                                        class="fa fa-list-ol"></i> Salary Paid List</a>
                                </li>
                                <li role="presentation" class="active"><a href="{% url 'SalaryPayment' %}"><i
                                        class="fa fa-plus-square-o"></i> Pay Salary</a>
                                </li>
                            </ul>
                            <div class="form-row">
                                <div class="form-group col-md-3 mb-0">
                                    {{ form.school|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 mb-0">
                                    {{ form.grade_name|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 mb-0">
                                    {{ form.basic_salary|as_crispy_field }}
                                </div>
                                <div class="add form-group col-md-3 mb-0">
                                    {{ form.house_rent|as_crispy_field }}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12 mb-0">

                                </div>
                            </div>


                            <div class="form-row">
                                <div class="add form-group col-md-3 mb-0">
                                    {{ form.transport_allowance|as_crispy_field }}
                                </div>
                                <div class="add form-group col-md-3 mb-0">
                                    {{ form.medical_allowance|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 mb-0">
                                    {{ form.over_time_hourly_pay|as_crispy_field }}
                                </div>
                                <div class="hidden_fields form-group col-md-3 mb-0">
                                    {{ form.over_time_total_hour|as_crispy_field }}
                                </div>
                                <div class="hidden_fields form-group col-md-3 mb-0">
                                    {{ form.over_time_amount|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 mb-0">
                                    {{ form.provident_fund|as_crispy_field }}
                                </div>
                                <div class="hidden_fields form-group col-md-3 mb-0">
                                    {{ form.Bonus|as_crispy_field }}
                                </div>
                                <div class="hidden_fields form-group col-md-3 mb-0">
                                    {{ form.Penalty|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3 mb-0">
                                    {{ form.hourly_rate|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 mb-0">
                                    {{ form.total_allowance|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 mb-0">
                                    {{ form.total_deduction|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 mb-0">
                                    {{ form.gross_salary|as_crispy_field }}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3 mb-0">
                                    {{ form.net_salary|as_crispy_field }}
                                </div>
                                <div class="hidden_fields form-group col-md-3 mb-0">
                                    {{ form.Month|as_crispy_field }}
                                </div>
                                <div class="hidden_fields form-group col-md-3 mb-0">
                                    {{ form.Payment_Method|as_crispy_field }}
                                </div>
                                <div class="hidden_fields form-group col-md-3 mb-0">
                                    {{ form.Expenditure_Head|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-6 mb-0">
                                    {{ form.note|as_crispy_field }}
                                </div>
                            </div>

                             <div class="form-row">
                                <div class="form-group col-md-12 mb-0">
                                    <div class="row">
                                        <div class="col">
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <a href="{% url 'salary_grade_list' %}"
                                       class="btn btn-outline-secondary" type="button">Cancel</a>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}

{% block javascripts %}

    {{ block.super }}

{% endblock javascripts %}
