{% extends "app/base_site.html" %}

{% block title %} Income {% endblock title %}

{% load static i18n %}

{% block javascript %}
    <script src="{% static 'schools/js/incomes.js' %}"></script>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-calculator"></i><small> Manage Income</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content quick-link">
                        <span>Quick Link:</span>
                        <a href="#">Discount</a>
                        | <a href="#">Fee Type</a>
                        | <a href="#">Fee Collection</a>
                        | <a href="#">Manage Invoice</a>
                        | <a href="#">Due Invoice</a>
                        | <a href="#">Due Fee Email</a>
                        | <a href="#">Due Fee SMS</a>
                        | <a href="#">Income Head</a>
                        | <a href="#">Income</a>
                        | <a href="#">Expenditure Head</a>
                        | <a href="#">Expenditure</a>
                    </div>

                    <div class="x_content">
                        <div class="" data-example-id="togglable-tabs">

                            <ul class="nav nav-tabs bordered">
                                <li role="presentation" ><a href="{% url 'income_list' %}"><i
                                        class="fa fa-list-ol"></i> Income List</a>
                                </li>
                                <li role="presentation" class="active"><a href="{% url 'income_create' %}"><i
                                        class="fa fa-plus-square-o"></i> Add
                                    Income</a>
                                </li>
                            </ul>
                            <br/>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab_income_list">
                                    <div class="x_content">

                                        <form class="form-verticle form-label-left"
                                            id="IncomeForm"
                                            method="post"
                                            enctype="multipart/form-data"
                                            accept-charset="utf-8">{% csrf_token %}
                                          <div class="col-lg-12">
                                              <div class=" col-md-3 mb-0">
                                                  {{ form.school|as_crispy_field }}
                                              </div>
                                              <div class="col-md-3 mb-0">
                                                  {{ form.income_head|as_crispy_field }}
                                              </div>
                                              <div class="col-md-3 mb-0">
                                                  {{ form.payment_method|as_crispy_field }}
                                              </div>
                                              <div class="bank_name col-md-3 mb-0">
                                                  {{ form.Bank_Name|as_crispy_field }}
                                              </div>
                                              <div class="cheque_number col-md-3 mb-0">
                                                  {{ form.Cheque_Number|as_crispy_field }}
                                              </div>

                                          </div>
<br><br>
                                          <div class="row">
                                            <div class="form-group col-md-3 mb-0">
                                                {{ form.date|as_crispy_field }}
                                            </div>
                                            <div class="form-group col-md-3 mb-0">
                                                {{ form.amount|as_crispy_field }}
                                            </div>
                                              <div class="form-group col-md-3 mb-0">
                                                  {{ form.note|as_crispy_field }}
                                              </div>
                                          </div>

                                          <div class="form-group">
                                              <div class="col-sm-offset-2 col-sm-10">
                                                  <button type="submit" class="btn btn-success">Submit</button>
                                              </div>
                                          </div>
                                      </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            $(document).ready(function () {
                $('#invoice-table').DataTable({
                    dom: 'Bfrtip',
                    iDisplayLength: 15,
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                        'print',
                        'pageLength'
                    ],
                    search: true,
                    responsive: true
                });
            });
                    //choosing the payment method
                    $("#id_payment_method").change(function() {
                      if ($(this).val() === "Cheque") {
                        $('.bank_name').show();
                        $('.cheque_number').show();}
                     else if ($(this).val() === "Cash")
                          {
                          $('.bank_name').hide();
                          $('.cheque_number').hide();
                          }
                    else{
                      $('.bank_name').hide();
                      $('.cheque_number').hide();
                    }
                   });
                  $("#id_payment_method").trigger("change");
        </script>
    </div>

{% endblock content %}

{% block javascripts %}

    {{ block.super }}
    <script src="/static/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
